<h1>Viewing Party Details</h1>

<%= form_with url: viewing_party_new_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :movie_id, value: params[:movie_id] %>
  <%= f.hidden_field :movie_runtime, value: params[:movie_runtime] %>
  <%= f.label :title, "Movie Title" %>
  <%= f.text_field :title, value: params[:movie_title], readonly: true %>
  <%= f.label :viewing_time, "Duration of Party" %>
  <%= f.text_field :viewing_time, value: params[:movie_runtime]  %>
  <%= f.label :day %>
  <%= f.date_select :day, selected: Date.today, :start_year => Date.today.year, :end_year => Date.today.year + 10  %>
  <%= f.label :start_time %>
  <%= f.time_select :start_time, selected: Time.now %>
  <%= f.collection_check_boxes(:friend,current_user.followed_users, :id, :find_email) %>
  <%= f.submit "Create Party" %>
<% end %>
